---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

html {
  font-family: sans-serif;
}

label {
  color: var(--color-accent);
}

.grey-bg {
  background-color: #e2e2e2;
}

.white-bg {
  background-color: white;
}

button {
  background-color: var(--color-primary);
  border: none;
}
