---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

html {
  font-family: sans-serif;
}

main {
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.green-bg {
  background-color: var(--color-primary);
}

.yellow-bg {
  background-color: var(--color-secondary);
}

label {
  color: var(--color-accent);
}

.grey-bg {
  background-color: var(--color-accent-light);
}

.white-bg {
  background-color: white;
}

button {
  background-color: var(--color-primary);
  border: none;
}
