:root {
  --font-primary: futura-pt, sans-serif;

  --color-primary: #2ea467;
  --color-accent: #7f7f7f;
  --color-accent-light: #e2e2e2;
  --color-secondary: #f7bd16;
  --color-secondary-bad: #ed481c;

}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  color: var(--color-accent);
}

a {
  color: var(--color-primary);
}

mark {
  background-color: var(--color-secondary)
}
