---
layout: default
title: Dashboard
current: current
---

<main role="main">
  <div class="banner gutter tab-border-none" tabindex="0">
    <h2 class="gutter bold">Welcome back Hot Shot, you're on a roll!</h2>
    <div class="grid island-1-2">
      <div class="unit xs-1 s-2-3 push gutter-1-2">
        <h2>Grade Trend</h2>
        <img class="img-flex" src="/images/graph.png" alt="">
      </div>
      <div class="unit xs-1 s-1-3 gutter-1-2">
        <h2 class="text-center">Overall Average</h2>
        <div class="embed embed-1by1 white-bg">
          <div class="embed-item">
            <div id="gm-big">
            </div>
            <script src="/scripts/gm-big.js"></script>
            <h4 class="pin-c zetta bolder accent-dark">74%</h4>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="grid course-grid island">
    {% for course in site.data.courses %}
      {% include course-card.html name=course.name grade=course.grade meter=course.meter href=course.href last-mark=course.last-mark course-comment=course.course-comment %}
    {% endfor %}
  </div>
</main>
