<div class="unit xs-1 m-1-2 l-1-3 island unit-content-center">
  <a class="embed embed-1by1 drop-shadow" href="/{{include.href}}">
    <div class="embed-item round-border text-center island-1-2">
      <h3 class="bold border-b push-1-2 pad-b-1-4 text-left gutter-1-4 giga">{{include.name}}</h3>
      <div class="grid grid-stretch">
        <div class="unit xs-1-2 border-r">
          <h4 class="push-0 kilo">Your Average</h4>
          <div class="embed embed-1by1">
            <div class="embed-item">
              <h4 class="pin-c bolder accent-dark">{{include.grade}}</h4>
              <div class="pin-c embed embed-1by1">
                <div class="embed-item" id="gm{{include.meter}}">
                </div>
                <script src="/scripts/gm{{include.meter}}.js"></script>
              </div>
            </div>
          </div>
        </div>
        <div class="unit xs-1-2">
          <h4 class="kilo">Last Mark</h4>
          <img class="img-flex w-1-2 margin-auto" src="/images/a-plus.svg" alt="">
        </div>
      </div>
    </div>
  </a>
</div>
