<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} • Up Grade</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <header class="white-bg">
    <div class="grid">
      <div class="unit s-1-2 left">
        <img src="/images/logo.svg" alt="">
      </div>
      <div class="unit s-1-2 right">
        <ul class="list-grou-inline">
          <li>Dashboard</li>
          <li>Log out</li>
        </ul>
      </div>
    </div>
  </header>
  {{content}}
  <footer class="white-bg">
    <img src="/images/logo.svg" alt="">
  </footer>
</body>
</html>
