<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} • Up Grade</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/fnl5bll.css">
</head>
<body>

  <script src="/scripts/lottie.js"></script>

  <header class="white-bg border-b push gutter">
    <div class="grid w-1 grid-bottom">
      <div class="unit s-1-2 left">
        <div class="gutter">
          <i class="icon i-128">
            <img src="/images/logo.svg" alt="">
          </i>
        </div>
      </div>
      <div class="unit s-1-2 text-right">
        <ul class="list-group-inline">
          <li><a class="gutter {{page.current}}" href="/dashboard">Dashboard</a></li>
          <li><a class="gutter" href="/index">Log out</a></li>
        </ul>
      </div>
    </div>
  </header>
  {{content}}
  <footer class="white-bg border-t gutter">
    <div class="gutter">
      <i class="icon i-128">
        <img src="/images/logo.svg" alt="">
      </i>
    </div>
  </footer>

</body>
</html>
